210821_fotogallery/

PIPELINE/Vernissage_pipeline/output

Fotos/

super-camera/__pycache__

super-camera/env

super-camera/mfk-super-share

PIPELINE/ApplyMask/data/

PIPELINE/ApplyMask/ApplyMask.pde

PIPELINE/ApplyMask/bg.jpg

PIPELINE/ApplyMask/bgresized.jpg

PIPELINE/ApplyMask/blur.glsl

PIPELINE/ApplyMask/FirstExampleFullyTreatedWithMagic_EvilNeon.png

PIPELINE/ApplyMask/FirstExampleFullyTreatedWithMagic_glow<s.png

PIPELINE/ApplyMask/FirstExampleFullyTreatedWithMagic_neonMask.png

PIPELINE/ApplyMask/FirstExampleFullyTreatedWithMagic_Spagetti.png

PIPELINE/ApplyMask/FirstExampleFullyTreatedWithMagic_Spagettiman.png

PIPELINE/ApplyMask/FirstExampleFullyTreatedWithMagic.png

PIPELINE/ApplyMask/seg_train_0004.png

PIPELINE/bgMask/biking.jpg

PIPELINE/bgMask/mask_biking.jpg

PIPELINE/Vernissage_pipeline/1.Mask/

PIPELINE/Vernissage_pipeline/2.StyleTransfert/

PIPELINE/Vernissage_pipeline/3.ApplyMask/

PIPELINE/Vernissage_pipeline/backgroundImages/

PIPELINE/Vernissage_pipeline/input/

PIPELINE/Vernissage_pipeline/raw/

PIPELINE/Vernissage_pipeline/small_MfK Fotos/

PIPELINE/Vernissage_pipeline/testImages/

PIPELINE/Vernissage_pipeline/LOG_210226_vernissage_pipeline

PIPELINE/fast-style-transfer/.cache/

PIPELINE/fast-style-transfer/.keras/

PIPELINE/fast-style-transfer/.local/

PIPELINE/fast-style-transfer/checkpoints/

PIPELINE/fast-style-transfer/data/

PIPELINE/fast-style-transfer/examples/

PIPELINE/fast-style-transfer/output/

PIPELINE/fast-style-transfer/outputEvaluate/

PIPELINE/fast-style-transfer/SegmentationOut/

PIPELINE/fast-style-transfer/src/

PIPELINE/fast-style-transfer/style-image/

PIPELINE/fast-style-transfer/TestSet/

PIPELINE/fast-style-transfer/.bash_history

PIPELINE/fast-style-transfer/docs.md

PIPELINE/fast-style-transfer/evaluate.py

PIPELINE/fast-style-transfer/moveAllImagesRecursively.py

PIPELINE/fast-style-transfer/moveAndRenameEvaluatedImgs.py

PIPELINE/fast-style-transfer/parameterTestJob.py

PIPELINE/fast-style-transfer/README.md

PIPELINE/fast-style-transfer/run-evaluate.sh

PIPELINE/fast-style-transfer/run-style.sh

PIPELINE/fast-style-transfer/runEvaluationJob.py

PIPELINE/fast-style-transfer/runJob.py

PIPELINE/fast-style-transfer/setup.sh

PIPELINE/fast-style-transfer/style.py

PIPELINE/fast-style-transfer/Tensroman.toml

PIPELINE/fast-style-transfer/test.tar.gz

PIPELINE/fast-style-transfer/transform_video.py

PIPELINE/fast-style-transfer/wpa_supplicant.conf

flickrQr/config.py